/* Fonts */

/* cuprum-regular - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
    font-display: swap;
}
/* cuprum-italic - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
        url('../fonts/cuprumitalic.woff2') format('woff2'), 
        url('../fonts/cuprumitalic.woff') format('woff'); 
    font-display: swap;
}
/* cuprum-700 - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
        url('../fonts/cuprumbold.woff2') format('woff2'), 
        url('../fonts/cuprumbold.woff') format('woff');
    font-display: swap;
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
        url('../fonts/cuprumbolditalic.woff2') format('woff2'),
        url('../fonts/cuprumbolditalic.woff') format('woff');
    font-display: swap;
}
/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/ptsans.woff2') format('woff2'), 
        url('../fonts/ptsans.woff') format('woff');
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
}
  

/* Colors */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-darkgrey: #293449;
    --basic-darkergrey: #32425C;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #FFFFFF;
    --black: #000000;

    --fantasy: #F9F5F0;
    --special-grey: #A9A9A9;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;

    --light-grey: #EAEAEA;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}
/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 5fr));
    grid-gap: 20px;
    align-items: center;
}

/* flex */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flex-space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1440;
}
.page-body {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: var(--white);
    
    display: grid;
    grid-template-rows: 320px 1fr 300px;
    min-height: 100vh;
}
.container {
    width: 940px;
    margin: 0 auto;
}

/* header */
.header {
    /* background-color: rgba(0,0,0,0.01); */
    background-color: #f3f7f8;
}
.header-top {
    background-color: var(--basic-darkgrey);
    color: var(--white);
}
.header__logo, .footer__logo {
    background-color: var(--basic-red);
    padding: 10px 40px;
    grid-column: 1 / span 5;
}
.header__logo-text {
    background-color: var(--basic-red);
}
.header__search-form {
}
.header__search-label {
}
.header__search-icon {
    background-color: var(--basic-grey);
}
.header__search-input {
    background-color: var(--basic-darkgrey);
    color: var(--white);
    border: none;
}
.header__bookmark {
    color: var(--white);
    text-decoration: none;
}
.header__bookmark-icon {
}
.header__cart {
    color: var(--white);
    text-decoration: none;
}
.header__cart-icon {
}
.header__order-button {
    background-color: var(--basic-green);
    color: var(--white);
    border: none;
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
}
.header-bottom {
    margin: 41px auto 40px auto;
}

.header__main-heading {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;
    color: var(--basic-red);
    grid-column: 1 / span 4;
    padding-left: 30px;
}
.header__contact {
    grid-column: 5 / span 4;
    justify-self: center;
}
.header__phone {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 2px solid var(--white);
    text-align: center;
    padding: 5px 50px;
    margin-bottom: 10px;
}
.header__address {
    font-size: 14px;
    text-align: center;
}
.header__sign {
    grid-column: 9 / span 4;
    justify-self: flex-end;
}
.header__signin {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}
.header__signup {
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}
.header__nav {
    background-color: var(--basic-darkergrey);
}
.header__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 40px;
}
.header__nav-item {
}
.header__nav-link {
    color: var(--white);
    text-decoration: none;
}

/* Main Content*/
.content {
}
.features {
    margin-top: 59px;
    margin-bottom: 59px;
}
.features__heading {
    display: none;
}
.features__item {
    box-sizing: border-box;
    width: 300px;
    height: 123px;
    padding: 23px 20px 23px 20px;
    position: relative;
}
.features__item:nth-of-type(1) {
    background-color: var(--special-yellow);
    grid-column: span 4;
}
.features__item:nth-of-type(2) {
    background-color: var(--special-blue);
    grid-column: span 4;
}
.features__item:nth-of-type(3) {
    background-color: var(--special-lilac);
    grid-column: span 4;
}
.features__item:nth-of-type(4) {
    background-color: var(--special-greenlight);
    grid-column: 9 / span 4;
}
.features__item:nth-of-type(5) {
    background-color: var(--special-yellow);
    grid-column: 9 / span 4;
}
.features__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--white);
    margin-top: 0px;
}
.features__link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.1);
}
.features__icon {
    position: absolute;
    top: 31px;
    right: 43px;
}
.features__new-arrival {
    padding: 2px 35px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: var(--basic-red);
    color: var(--white);
    position: absolute;
    right: -25px;
    top: 8px;
    transform: rotate(45deg);
}
.features__slider {
    font-family: 'Cuprum', sans-serif;
    width: 620px;
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    color: var(--white);
}
.features__slider-title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 700;
    margin-top: 20px;
    position: absolute;
    top: 3px;
    left: 24px;
}
.features__slider-desc {
    position: absolute;
    top: 46px;
    left: 24px;
}
.features__slider-link {
    background-color: var(--basic-red);
    display: inline-block;
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 27px;
    left: 24px;
    text-transform: uppercase;
    padding: 10px 40px;
}
.features__slider-left {
    position: absolute;
    top: 122px;
    left: 24px;
}
.features__slider-right {
    position: absolute;
    top: 122px;
    right: 20px;
}
.features__slider-photo {
    
}
.products {
}
.products__head,
.makers__head {
    background-color: var(--fantasy);
    display: flex;
    justify-content: space-between;
    padding: 0 14px 0 28px;
}
.products__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.products__category {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 40px;
    align-self: center;
}
.products__wrapper {
    margin: 20px 0 59px 0;
}
.products__card {
    font-family: 'PT Sans', sans-serif;
    width: 220px;
    height: 318px;
    border: 1px solid #EAEAEA;
    margin: 0 20px 20px 0;
    box-sizing: border-box;
    text-align: center;
}
.products__card:nth-child(4n) {
    margin-right: 0;
}
.products__card-img {
}
.products__card-desc {
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--black);
}
.products__card-start-price {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--special-grey);
}
.products__card-final-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    text-decoration: none;
    padding: 10px 20px;
}
.makers {
}
.makers__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.makers__category {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 40px;
    align-self: center;
}
.makers__wrapper {
    margin: 20px 0 59px 0;
}
.maker {
    width: 220px;
    height: 145px;
    border: 1px solid #EAEAEA;
    text-align: center;
    margin: 0 20px 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maker:nth-child(4n) {
    margin-right: 0;
}
.maker__brend {
    display: none;
}
.maker__logo {
}

.services {
    background-color: var(--basic-background);
    padding-top: 25px;
    height: 522px;
}
.services__heading {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}
.services__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
.services__wrapper {
    margin-top: 50px;
}
.services__list {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    grid-column: 1 / span 4;
    margin-top: 0px;
}
.services__item {
}
.services__link {
    text-decoration: none;
}
.services__info {
    grid-column: 5 / span 8;
    background-image: url('/img/truck.png');
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: contain;
}
.services__type {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-top: 0px;
}
.about-us {
    padding-bottom: 50px;
}
.company {
    grid-column: 1 / span 6;
}
.company__heading {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.company__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
.partners__list {
}
.partners__item {
}
.partners__link {
    text-decoration: none;
    color: var(--black);
}
.company__link {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
}
.address {
    grid-column: 7 / span 6;
    padding-left: 100px;
}
.address__heading {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.address__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
.address__map {
}
.address__link {
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    width: 300px;
}
.footer {
    background-color: var(--basic-grey);
    color: var(--white);
}
.footer-top {
}
.footer__logo-text {
}
.footer__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    grid-column: 6 / span 7;
}
.footer__nav-item {
}
.footer__nav-link {
    color: var(--white);
    text-decoration: none;
}
.footer-center {
}
.wrapper {
    display: flex;
}
.footer__address {
    grid-column: 1 / span 5;
}
.footer__features-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    grid-column: 6 / span 7;
}
.footer__features-item {
}
.footer__features-link {
    color: var(--special-yellowlight);
    text-decoration: none;
}
.footer-bottom {
    background-color: var(--basic-darkgrey);
}
.footer__copyright {
    grid-column: 1 / span 4;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.footer__socials {
    grid-column: 5 / span 2;
}
.footer__social-icon {
}
.footer__email-text {
    grid-column: 7 / span 3;
}
.footer__designed-by-text {
    grid-column: 10 / 13;
}
.footer__email {
    color: var(--special-yellowlight);
}
.footer__designed-by {
    color: var(--special-yellowlight);
}

/* Catalog */

.breadcrumbs__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.drill__grid {
    display: grid;
    grid-template-columns: 220px 1fr;
}
.drill__sort-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.drill__card {
    width: 220px;
    height: 318px;
    border: 1px solid #EAEAEA;
    text-align: center;
}
.drill__pagination-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sort__drill-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}